img.center {
  /* ease | ease-in | ease-out | linear */
    transition: -webkit-transform ease-in-out 0.3s;
    transition: transform ease-in-out 0.3s;
}

img.center:active {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    z-index: 5;
    position: relative; // non-ideal, could have more flexibility here
}
// TODO: click to zoom click to zoom out and different zoom values?

.image-container {
  display: flex;
  justify-content: space-between;
}

.image-container img {
  max-width: 30%;
  height: auto;
  object-fit: contain;
}
